* {
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    padding: 20px 0;
    font-weight: bold;
    color: red;
    font-size: 30px;
}

.logo img {
    display: block;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: red;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: red;
}

.top-imtge {
    background: url('../lasu-task_images/top.jpg') no-repeat center center/cover;
}

.container {
    display: flex;    
    gap: 20px;
}

main {
    width: 780px;
}

aside {
    width: 300px;
}

main section h2 {
    border-bottom: 2px solid red;
}

.cards {
    display: flex;  
    gap: 8px;     
}

.card {    
    text-align: center;
    border: 1px solid #ddd;
    /*padding: 20px; */
    width: 20%;        
}

.card img {
    width: 100%;
}

.card a {
    text-decoration: none;
    color: black;
}

.link {
    width: 100%;
    height: 100%;
}

.review-cards {
    display: flex;
    gap: 20px;
}

.review-header {
    display: flex;
    border-bottom: 2px solid gray;
}

.reviewer-description {
    margin-left: 10px;

}

.review-card {
    width: 50%;
    border: 2px solid gainsboro;
    padding: 20px;
    background-color: #f0eeee;
}

.reviewer-name {
    font-size: 18px;    
    font-weight: bold;
}

.reviewer-description {
    font-size: 14px;
}


.review-titles {
    margin: 20px 0 20px;

}

.review-title {
    font-size: 22px;
    font-weight: bold;
}


.footer-content {
    text-align: center;
    background-color:  #DCD5D5;
    padding: 20px 0 20px;
    margin-top: 20px;
}

.footer-content p {
    margin: 0;
}

.search-box {
    border: 2px solid gainsboro;
    box-shadow: 0px 0px 5px 0px #CCC; 
    padding: 20px; 
    margin-top: 19.920px;  
}

.search-box h4 {
    padding: 0;
    margin: 0;
}

.search-box form input {
    margin: 10px 0 10px;
    width: 100%;
    padding: 10px;
}

.search-box form button {
    background-color: red;
    color: white;
    padding: 5px 20px 5px;
    display: flex;  
}

.search-box form div {
    margin-left: 5px;
}

/*article {
    width: 100%;
    height: 100%;
}*/